[Desktop Entry]
Name=Red Hat 8
Comment=

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Category=theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
