[Desktop Entry]
Name=Bluecurve Slate
Comment=Window decoration style from old versions of Red Hat linux distributions, ready to use for KDE Plasma!

X-KDE-PluginInfo-Author=Joey
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Joey
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
